body {
  
    font-family: "Poppins", sans-serif;
   
}

i{
  cursor: pointer;
}


.container{
    padding:20px;
}

@media (max-width:992px){

    .note-card{
        margin-bottom:20px;
    }

}

@media (max-width:768px){

    .container{
        padding:15px;
    }

    .note-card{
        border-radius:16px;
    }

    .card-title{
        font-size:18px;
    }

}

@media (max-width:576px){

    .container{
        padding:10px;
    }

    .card-body{
        padding:15px;
    }

    .btn{
        width:48%;
    }

}